# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env and secrets
.env
.env.*.local
.env.local

# Docker
docker-compose.override.yml
docker-compose.*.yml
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
